body {
    background-color: white;
    color: black;
  }
  
  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    flex-direction: column;
   }  
  
  .contact-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
    flex-wrap: nowrap;
    margin-left: 3rem;
    margin-top: 3rem;
  }
  
  .text-form{
    display: flex;
    justify-content: space-around;
  }

  .contact-text h1 {
    font-size: 3em;
    margin: 3rem; 
    margin-bottom: 0.1rem;
    margin-top: 2rem;
    
  }
  
  .contact-text p {
    font-size: 1.4em;
    /* margin: 10rem; */
   margin: 3rem;
   
  }
  
  .contact-form {
    display: flex;
    direction: column;
    flex: 1;
    margin: 3rem;
    
 }

  .contact-form h2{
    font-size:x-large;
    margin-bottom: 1rem;
 }
 .Form-boxes{
  display: flex;
  flex-direction: row;
  width: 100%;
  

 }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
    margin: 0.5rem;
    width: 100%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .form-group textarea {
    resize: vertical;
    height: 150px;
  }
  
  .character-count {
    text-align: right;
    font-size: 0.9em;
    color: #999;
  }
  
  .form-group input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 4px;
  }
  
  .character-count {
    text-align: right;
    font-size: 12px;
    color: #555;
  }
  
  .consent-group {
    display: flex;
    align-items: flex-start;
  }
  
  .consent-label {
    margin: 0;
    line-height: 1.5;
  }
  
  .button-talk{
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }

  .button-talk:hover{
    background-color: black;
    color: white;
  }

  /* Location */
